body{
    background: url(https://static.videezy.com/system/resources/thumbnails/000/042/547/original/Hi-Tech-Digital-Background-0062.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
    opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
    font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
    background-color: #d1d3d6;
}

.nav-tabs{
    border-bottom:0px;
}
@media (min-width: 575px) {
    .col-sm-8 {
        max-width: 80% !important;
    }
}